/*=======公用的css=========*/
body{
    font-family: "Microsoft YaHei","sans-serif";
    color: #333;
    font-size: 14px;
}
a{
    color: #333;
}
a:hover{
    color: #333;
    text-decoration: none;
}
/*自定义字体  申明自定义字体的名字 引入字体文件 指定字体文件的格式*/
@font-face{
    font-family: "wjs";
    src:
    url(../fonts/MiFie-Web-Font.eot) format("embedded-opentype"),
    url(../fonts/MiFie-Web-Font.svg) format("svg"),
    url(../fonts/MiFie-Web-Font.ttf) format("truetype"),
    url(../fonts/MiFie-Web-Font.woff) format("woff");
}
.wjs_icon{
    font-family: wjs;
}
/*通过伪类来定义一个字体图标*/
/*字体图标设计出来的时候一般都会有文档参考*/
.wjs_icon_phone::before{
    content: "\e908";
}
.wjs_icon_tel::before{
    content: "\e909";
}
.wjs_icon_logo::before{
    content: "\e920";
}
.wjs_icon_word::before{
    content: "\e93e";
}
.wjs_icon_E903::before{
    content: "\e903";
}
.wjs_icon_E906::before{
    content: "\e906";
}
.wjs_icon_E905::before{
    content: "\e905";
}
.wjs_icon_E907::before{
    content: "\e907";
}
.wjs_icon_E901::before{
    content: "\e901";
}
.wjs_icon_E900::before{
    content: "\e900";
}
.wjs_icon_E904::before{
    content: "\e904";
}
.wjs_icon_E902::before{
    content: "\e902";
}
.wjs_icon_E906::before{
    content: "\e906";
}
.wjs_icon_new01::before{
    content: "\e90e";
}
.wjs_icon_new02::before{
    content: "\e90f";
}
.wjs_icon_new03::before{
    content: "\e910";
}
.wjs_icon_new04::before{
    content: "\e911";
}
.wjs_icon_partner01::before{
    content:"\e946";
}
.wjs_icon_partner02::before{
    content: "\e92f";
}
.wjs_icon_partner03::before{
    content: "\e92e";
}
.wjs_icon_partner04::before{
    content: "\e92a";
}
.wjs_icon_partner05::before{
    content: "\e929";
}
.wjs_icon_partner06::before{
    content: "\e931";
}
.wjs_icon_partner07::before{
    content: "\e92c";
}
.wjs_icon_partner08::before{
    content: "\e92b";
}
.wjs_icon_partner09::before{
    content: "\e92d";
}

.m_r10{
    margin-right: 10px;
}
.m_t10{
    margin-top: 10px;
}
.m_l10{
    margin-left: 10px;
}
.m_b10{
     margin-bottom: 10px;
 }




/*=======页面的css=========*/
/*顶部通栏*/
.wjs_header{
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: 12px;
    position: relative;
    z-index: 1001;
}
.wjs_header .wjs_app{
    color: #666;
    position: relative;
    display: block;
}
.wjs_header a{
    color: #666;
}
.wjs_header .wjs_app img{
    display: none;
}
.wjs_header .wjs_app:hover img{
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -60px;
    border: 1px solid #ccc;
    border-top: none;
}
.wjs_header > .container > .row > div{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.wjs_header > .container > .row > div + div{
    border-left: 1px solid #ccc;
}
/*.wjs_header > .container > .row > div{
    height: 40px;
    border-left: 1px solid #ccc;
}
.wjs_header > .container > .row > div:first-child{
    border-left:  none;
}*/

.wjs_header .btn-register{
    background: #E92322;
    color: #fff;
    padding: 3px 15px;
}
/*导航条*/
.wjs_nav {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    z-index: 1001;
    border-radius: 0;
    width: 100%;
    top: 0;
}
@media screen and (max-width: 768px){
    .wjs_nav .navbar-collapse{
        width: 100%;
        position: absolute;
        background: #fff;
    }
}
.wjs_nav .wjs_icon_logo{
    font-size: 50px;
    color: #E92322;
    line-height: 50px;
    vertical-align: middle;
}
.wjs_nav .wjs_icon_word{
    font-size: 36px;
    color: #333;
    line-height: 50px;
    vertical-align: middle;
}
.wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.wjs_nav .navbar-text {
    color: #777;
}
.wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #E92322;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid #E92322;
}
.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.wjs_nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}
.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
}
.wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
}
.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #e7e7e7;
}
.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.wjs_nav .navbar-link {
    color: #777;
}
.wjs_nav .navbar-link:hover {
    color: #333;
}
.wjs_nav .btn-link {
    color: #777;
}
.wjs_nav .btn-link:hover,
.wjs_nav .btn-link:focus {
    color: #333;
}
.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:hover,
.wjs_nav .btn-link[disabled]:focus,
fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
}
/*轮播图*/
.wjs_banner{

}
.wjs_banner .img_box{
    display: block;
    height: 410px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.wjs_banner .img_mobile{
    width: 100%;
    display: block;
}
.wjs_banner .img_mobile img{
    width: 100%;
    display: block;
}

/*信息模块*/
.wjs_info{
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
}
.wjs_info > .container{
    width: 910px;
}
.wjs_info .wjs_icon{
    font-size: 30px;
}
.wjs_info .media{
    padding: 10px;
    display: block;
}
.wjs_info .media:hover{
    color: #E92322;
}
.wjs_info .media > .media-left{
    padding-top: 2px;
}
/*预约*/
.wjs_book{
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
}
@media screen and (min-height: 1200px){
    .wjs_book .container{
        width: 910px;
    }
}
.wjs_book .wjs_icon{
    font-size: 24px;
}
.wjs_book .book_link{
    color: #E92322;
    border-bottom: 1px dashed #E92322;
}
.wjs_book .media_link:hover{
    color: #E92322;
}
/*商品*/
.wjs_product{
    padding: 30px 0;
    background: #f5f5f5;
}
.wjs_product .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.wjs_product .nav-tabs > li {
    float: left;
    margin-bottom: 0;
    padding-left: 20px;
}
.wjs_product .nav-tabs > li > a {
    margin-right: 0;
    line-height: 1.42857143;
    border: none;
    border-radius: 4px 4px 0 0;
}
.wjs_product .nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
    background: #f5f5f5;
}
.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #f5f5f5;
    border: none;
    border-bottom: 3px solid #E92322;
}
.wjs_product .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.wjs_product .nav-tabs.nav-justified > li {
    float: none;
}
.wjs_product .nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.wjs_product .nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .wjs_product .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .wjs_product .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.wjs_product .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.wjs_product .nav-tabs.nav-justified > .active > a,
.wjs_product .nav-tabs.nav-justified > .active > a:hover,
.wjs_product .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .wjs_product .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .wjs_product .nav-tabs.nav-justified > .active > a,
    .wjs_product .nav-tabs.nav-justified > .active > a:hover,
    .wjs_product .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}
.wjs_product .wjs_product_tabsParent{
    overflow: hidden;
}
@media screen and (max-width: 768px){
    .wjs_product .tab-pane > .col-xs-12{
        padding-left:0;
        padding-right:0;
    }
}
/*商品盒子*/
.product_box{
    color: #666;
    height:150px;
    display: block;
    box-shadow: 2px 2px 2px #d8d8d8;
    background: #fff;
    margin-top: 30px;
    position: relative;
}
.product_box:hover{
    color: #666;
}
.product_box.active{
    background: #E92322;
    color: #fff;
}
.product_box.active:before{
    content: "\e915";
    font-family: wjs;
    font-size:33px;
    position: absolute;
    top: -7px;
    left: 0;
}
.product_box .box_left{
    overflow: hidden;
    font-size: 12px;
}
.product_box .box_left h3{
    font-size: 16px;
    text-align: center;
}
.product_box .box_left p{
    margin-bottom: 5px;
}
.product_box .box_right{
    float: right;
    width: 108px;
    height: 150px;
    text-align: center;
    position: relative;
    border-left: 1px dashed #ccc;
}
.product_box.active .box_right{
    border-left: 1px dashed #c12e2a;
}
.product_box .box_right b{
    font-size: 44px;
}
.product_box .box_right sub{
    bottom: 0;
}
.product_box .box_right p:nth-of-type(1){
    color: #E92322;
    margin-top: 25px;
}
.product_box.active .box_right p:nth-of-type(1){
    color: #fff;
}
.product_box .wjs_tip{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    margin-top: 10px;
}
.product_box .box_right::before,
.product_box .box_right::after{
    content: "";
    position: absolute;
    left: -6px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #f5f5f5;
}
.product_box .box_right::before{
    top: -6px;
    box-shadow: 0 -2px 2px #d8d8d8 inset;
}
.product_box .box_right::after{
    bottom: -6px;
    box-shadow: 0 2px 2px #d8d8d8 inset;
}

.product_box .wjs_tip span{
    width: 16px;
    height: 16px;
    line-height: 13px;
    text-align: center;
    border: 1px solid #ccc;
    display: inline-block;
}
.product_box .wjs_tip span.red{
    color: red;
    border-color: red;
}
.product_box .wjs_tip span.green{
    color: green;
    border-color: green;
}
.product_box .progress{
    height: 12px;
    margin: 5px 0;
}
/*新闻模块*/
.wjs_news{
    padding: 30px 0;
}
.wjs_news .wjs_news_title{
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.wjs_news .wjs_news_title::after{
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    border: 1px solid #ccc;
    bottom: -3px;
    right: -6px;
}

.wjs_news_line{
    position: absolute;
    height: 100%;
    border-left: 1px dashed #ccc;
    width: 1px;
    top: 0;
    left: 45px;
}

.wjs_news_tabs {
}
.wjs_news_tabs .wjs_icon{
    color: #fff;
    font-size: 30px;
}
.wjs_news_tabs > li {
    float: left;
    margin-bottom: -1px;
}
.wjs_news_tabs > li > a {
    background: #ccc;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    display: block;
    padding: 0;
    line-height: 60px;
    text-align: center;
    margin-bottom: 60px;
}
/*tabs 在小屏幕设备显示情况 页签 需要固定间距*/
@media screen and (min-width: 768px) and (max-width: 992px){
    .wjs_news_tabs > li > a{
        margin: 20px 50px;
    }
}
/*tabs 在小屏幕设备显示情况 页签 需要伸缩间距*/
@media screen and (max-width: 768px) {
    .wjs_news_tabs > li{
        width: 25%;
    }
    .wjs_news_tabs > li > a{
        margin: 20px;
    }
}
.wjs_news_tabs > li:last-child > a{
    margin-bottom: 0;
}
.wjs_news_tabs > li > a:hover {
    border: none;
    background: #E92322;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    display: block;
}
.wjs_news_tabs > li.active > a,
.wjs_news_tabs > li.active > a:hover,
.wjs_news_tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background: #E92322;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    display: block;
}
.wjs_news_tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.wjs_news_tabs.nav-justified > li {
    float: none;
}
.wjs_news_tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.wjs_news_tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .wjs_news_tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .wjs_news_tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.wjs_news_tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.wjs_news_tabs.nav-justified > .active > a,
.wjs_news_tabs.nav-justified > .active > a:hover,
.wjs_news_tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .wjs_news_tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .wjs_news_tabs.nav-justified > .active > a,
    .wjs_news_tabs.nav-justified > .active > a:hover,
    .wjs_news_tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

.wjs_news .tab-pane > ul{
    list-style: none;
}
.wjs_news .tab-pane > ul > li{
    padding: 15px 0;
}

/*合作伙伴*/
.wjs_footer{
    background: #f5f5f5;
    padding: 20px 0;
}
.wjs_footer ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 60px;
}
.wjs_footer ul li{
    display: inline-block;
}
.wjs_footer ul li a{
    line-height: 50px;
    vertical-align: middle;
    display: block;
}
